## Assignment 07
### Note:
- For visualization, you have the freedom to choose one or many from
    - Matplotlib
    - Seaborn
    - Plotly Express 
    - any other library
- You can use the local Jupyter environment if you are not comfortable with Colab for this assignment.
- Use use this notebook as your template and follow the instructions

The first half of this assignment is a repeat of assignment 05.

This gives you a chance to refresh.

The second half is new and gives you a chance to perform additional practices.

You also get a chance to use some of the Python libraries and techniques.

You will unzip the zip file manually in preparation for this assignment.

The links to the zip file is (you have already used it in your assignment 5):

- https://data.ed.gov/dataset/college-scorecard-all-data-files-through-6-2020/resources (The page containing link to the zip file)

- https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data_01192021.zip (The link to download the zip file)

After unzipping, You will have all files in one folder named "CollegeScorecard_Raw_Data" 

The folder contains the yearly data files from 1996 to 2019 school years.

if you are using your local environment, I suggest you create a new folder call "Assignment7" and place the Notebook file and the data folder under it.
```
Assignment7/
    - assignment_07.ipynb
    - CollegeScorecard_Raw_Data/
        - ...
        - 'MERGED1996_97_PP.csv',
        - 'MERGED2015_16_PP.csv',
        - ...
        - 'MERGED2017_18_PP.csv'
```

In [123]:
# <1> 
# Import libraries

#(Write code here)
import sys
import os
import pandas as pd
from zipfile import ZipFile
import plotly.express as px

In [124]:
# <2> 
# Display the current workin directory using os.getcwd()
# you would need to import a standard Python library called os which stands for operating system,
# so place that import statement in the previous cell.
# Since your notebook and your data files are not in # the same folder, 
# you want to make sure what is the current working folder and 
# how to access a data file in a different folder

#(Write code here)
cwd = os.getcwd()  # Get the current working directory (cwd)
print(cwd)

/content

In [125]:
# <3> 
# os library has a method call listdir which generates a list of files in a directory/folder.
# use this method to assign the contents (list of file names) of the data folder to a variable and display it.
# # You can use ../ construct to traverse to the parent folder and then to another folder parallel to the current folder

#(Write code here)
files = os.listdir(cwd)
print("Files in %r: %s" % (cwd, files))

Files in '/content': ['.config', '__MACOSX', 'Raw Data Files', 'CollegeScorecard_Raw_Data_01192021.zip', 'sample_data']

In [126]:
# <4> 
# The folder contains files that are not the yearly data files
# write code to remove the unwanted files from the list vsriable 
# Note: don't remove/delete these files from the folder in your drive
# For example, use the file extension to only keep the csv files 
# or use the name patter - data file name begins with "MERGED"
# You can use the concept of list comprehension to write just 
# one line of code as well as using a for loop, your choice.

#(Write code here)
from zipfile import ZipFile

file_name = "my_files.zip"
  
# opening the zip file in READ mode
with ZipFile('/content/CollegeScorecard_Raw_Data_01192021.zip', 'r') as zip:
    # printing all the contents of the zip file
    zip.printdir()
  
  # extracting all the files
    print('Extracting all the files now...')
    ZipFile.extractall(zip)
    print('Done!')

File Name                                             Modified             Size
Raw Data Files/                                2021-01-14 19:40:08            0
Raw Data Files/MERGED2011_12_PP.csv            2021-01-14 13:12:34    171724745
Raw Data Files/MERGED1999_00_PP.csv            2021-01-14 13:11:28    106806519
Raw Data Files/MERGED2006_07_PP.csv            2021-01-14 13:12:04    152211350
Raw Data Files/MERGED2014_15_PP.csv            2021-01-14 13:12:52    175279557
Raw Data Files/Most-Recent-Cohorts-All-Data-Elements.csv 2021-01-14 13:25:38    186829561
__MACOSX/Raw Data Files/._Most-Recent-Cohorts-All-Data-Elements.csv 2021-01-14 13:25:38          991
Raw Data Files/MERGED2003_04_PP.csv            2021-01-14 13:11:48    135190882
Raw Data Files/MERGED1996_97_PP.csv            2021-01-14 13:11:18     79523240
Raw Data Files/FieldOfStudyData1516_1617_PP.csv 2021-01-14 13:11:00    291206994
Raw Data Files/Most-Recent-Cohorts-Field-of-Study.csv 2021-01-14 13:11:16    390776931
Raw Data Files/MERGED2012_13_PP.csv            2021-01-14 13:12:40    173877617
Raw Data Files/MERGED2005_06_PP.csv            2021-01-14 13:11:58    152786684
Raw Data Files/MERGED2009_10_PP.csv            2021-01-14 13:12:22    160583832
Raw Data Files/FieldOfStudyData1617_1718_PP.csv 2021-01-14 13:11:16    390776931
Raw Data Files/MERGED2018_19_PP.csv            2021-01-14 13:13:14     97060268
Raw Data Files/MERGED2017_18_PP.csv            2021-01-14 13:13:12    170830321
Raw Data Files/Crosswalks.zip                  2020-03-10 18:07:18     37415424
__MACOSX/Raw Data Files/._Crosswalks.zip       2020-03-10 18:07:18          212
Raw Data Files/MERGED2000_01_PP.csv            2021-01-14 13:11:32    120183646
Raw Data Files/MERGED2001_02_PP.csv            2021-01-14 13:11:38    122119054
Raw Data Files/MERGED2016_17_PP.csv            2021-01-14 13:13:06    170982860
Raw Data Files/MERGED1997_98_PP.csv            2021-01-14 13:11:22     83103714
Raw Data Files/MERGED1998_99_PP.csv            2021-01-14 13:11:24     93453071
Raw Data Files/data.yaml                       2021-01-14 11:37:42       596428
Raw Data Files/MERGED2004_05_PP.csv            2021-01-14 13:11:52    148297662
Raw Data Files/MERGED2002_03_PP.csv            2021-01-14 13:11:42    133165065
Raw Data Files/MERGED2015_16_PP.csv            2021-01-14 13:12:58    170883854
Raw Data Files/MERGED2013_14_PP.csv            2021-01-14 13:12:46    174660509
Raw Data Files/MERGED2007_08_PP.csv            2021-01-14 13:12:10    154689879
Raw Data Files/MERGED2008_09_PP.csv            2021-01-14 13:12:16    154761043
Raw Data Files/MERGED2010_11_PP.csv            2021-01-14 13:12:28    164017276
Raw Data Files/FieldOfStudyData1415_1516_PP.csv 2021-01-14 13:10:50    279776783
__MACOSX/Raw Data Files/._FieldOfStudyData1415_1516_PP.csv 2021-01-14 13:10:50          176
Extracting all the files now...
Done!

In [127]:
file_list = os.listdir('/content/Raw Data Files')
new_list = []


for name in file_list:
  #print(name)
  if name.startswith("MERGED"):
    new_list.append(name)

new_list

['MERGED2018_19_PP.csv',
 'MERGED2005_06_PP.csv',
 'MERGED2007_08_PP.csv',
 'MERGED2002_03_PP.csv',
 'MERGED2011_12_PP.csv',
 'MERGED2003_04_PP.csv',
 'MERGED2016_17_PP.csv',
 'MERGED2009_10_PP.csv',
 'MERGED2006_07_PP.csv',
 'MERGED2001_02_PP.csv',
 'MERGED2012_13_PP.csv',
 'MERGED1996_97_PP.csv',
 'MERGED2008_09_PP.csv',
 'MERGED2004_05_PP.csv',
 'MERGED1997_98_PP.csv',
 'MERGED2017_18_PP.csv',
 'MERGED2000_01_PP.csv',
 'MERGED2014_15_PP.csv',
 'MERGED1998_99_PP.csv',
 'MERGED2013_14_PP.csv',
 'MERGED2010_11_PP.csv',
 'MERGED2015_16_PP.csv',
 'MERGED1999_00_PP.csv']

In [128]:
# <5> 
# Now that you have a clean list of the yearly files, you want to loop through them
# and read them into a dataframe one at a time. You only load six columns: 
# ["UNITID", "INSTNM", "STABBR", "REGION", "ADM_RATE", "TUITIONFEE_IN"].
# You should use "usecols" option of Pandas to avoid reading unwanted columns.
# You also want to add a new column call "YEAR" to differentiate the data frames from each other.
# The YEAR variable should be yyyy format so tht you can convert them into integer.
# if you use the format yyyy-yy (such as 1997-98 school year), you will not be able to convert them directly to integer
# if you use scatter plot, the YEAR needs to be converted to integer or float. 
# 
# You would use an empty list and append the yearly dataframes to the list.
# After all data files are loaded and appended to the list, you would use Pandas to concatenate them into a 
# new single data frame.
# Note: this exercise incorporates many techques we learned before
# - list (creating an empty, append an item to the list)
# - for loop 
# - read only the needed columns from a file (using usecols option)
# - add a new column to a data frame
# - concatenate multiple dataframes into a single one
# This exercise may appear a big challenging but it worths the effort. You will learn a lot and  love it. I promise.

#(Write code here)
df_list = []
count_list = []

for csv in new_list:
  csv_path = '/content/Raw Data Files/' + str(csv)
  df = pd.read_csv(csv_path, usecols= ["UNITID", "INSTNM", "STABBR", "REGION", "ADM_RATE", "TUITIONFEE_IN"])
  csv_name = str(csv)
  csv_name = csv_name.split('_')
  string_year = csv_name[0].replace('MERGED', '')
  df['YEAR'] = string_year
  df['YEAR'] = df['YEAR'].astype(int)
  df_list.append(df)

result = pd.concat(df_list)
result

      UNITID                                  INSTNM  ... TUITIONFEE_IN  YEAR
0     100654                Alabama A & M University  ...        9744.0  2018
1     100663     University of Alabama at Birmingham  ...        8568.0  2018
2     100690                      Amridge University  ...        6900.0  2018
3     100706     University of Alabama in Huntsville  ...       10714.0  2018
4     100724                Alabama State University  ...       11068.0  2018
...      ...                                     ...  ...           ...   ...
6604  436784  Universal Career Community College Inc  ...           NaN  1999
6605  436809                       Willsey Institute  ...           NaN  1999
6606  437042      ITT Technical Institute-Saint Rose  ...           NaN  1999
6607  437413              EURO HAIR DESIGN INSTITUTE  ...           NaN  1999
6608  437431          BUCKS COUNTY COMMUNITY COLLEGE  ...           NaN  1999

[163331 rows x 7 columns]

In [129]:
# <6> 
# explore the new dataframe (# of observations, varibles, head, tail, sample, missing values, statistics,etc.)

#(Write code here)

result.shape

result.info()

result.head()

result.tail()

result.sample()

result.describe()

result.isna().any()

result.groupby('YEAR').count()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 163331 entries, 0 to 6608
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   UNITID         163331 non-null  int64
 1   INSTNM         163331 non-null  object
 2   STABBR         163331 non-null  object
 3   REGION         163330 non-null  float64
 4   ADM_RATE       44912 non-null   float64
 5   TUITIONFEE_IN  79195 non-null   float64
 6   YEAR           163331 non-null  int64
dtypes: float64(3), int64(2), object(2)
memory usage: 10.0+ MB

      UNITID  INSTNM  STABBR  REGION  ADM_RATE  TUITIONFEE_IN
YEAR
1996    7007    7007    7007    7007         0              0
1997    6934    6934    6934    6934         0              0
1998    6702    6702    6702    6702         0              0
1999    6609    6609    6609    6609         0              0
2000    6654    6654    6654    6654         0           3360
2001    6725    6725    6725    6725      2482           3920
2002    6652    6652    6652    6652      2855           4049
2003    6673    6673    6673    6673      2885           4149
2004    6747    6747    6747    6747      2791           4188
2005    6899    6899    6899    6899      2823           4173
2006    6951    6951    6951    6951      2877           4201
2007    6971    6971    6971    6971      2854           4183
2008    7055    7055    7055    7055      2813           4209
2009    7217    7217    7217    7217      2794           4289
2010    7470    7470    7470    7470      2321           4337
2011    7746    7746    7746    7745      2362           4444
2012    7862    7862    7862    7862      2327           4462
2013    7869    7869    7869    7869      2241           4527
2014    7766    7766    7766    7766      2214           4407
2015    7666    7666    7666    7666      2189           4330
2016    7238    7238    7238    7238      2041           4081
2017    7112    7112    7112    7112      2037           4021
2018    6806    6806    6806    6806      2006           3865

In [130]:
result.shape

(163331, 7)

In [131]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 163331 entries, 0 to 6608
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   UNITID         163331 non-null  int64
 1   INSTNM         163331 non-null  object
 2   STABBR         163331 non-null  object
 3   REGION         163330 non-null  float64
 4   ADM_RATE       44912 non-null   float64
 5   TUITIONFEE_IN  79195 non-null   float64
 6   YEAR           163331 non-null  int64
dtypes: float64(3), int64(2), object(2)
memory usage: 10.0+ MB

In [132]:
result.head()

   UNITID                               INSTNM  ... TUITIONFEE_IN  YEAR
0  100654             Alabama A & M University  ...        9744.0  2018
1  100663  University of Alabama at Birmingham  ...        8568.0  2018
2  100690                   Amridge University  ...        6900.0  2018
3  100706  University of Alabama in Huntsville  ...       10714.0  2018
4  100724             Alabama State University  ...       11068.0  2018

[5 rows x 7 columns]

In [133]:
result.tail()

      UNITID                                  INSTNM  ... TUITIONFEE_IN  YEAR
6604  436784  Universal Career Community College Inc  ...           NaN  1999
6605  436809                       Willsey Institute  ...           NaN  1999
6606  437042      ITT Technical Institute-Saint Rose  ...           NaN  1999
6607  437413              EURO HAIR DESIGN INSTITUTE  ...           NaN  1999
6608  437431          BUCKS COUNTY COMMUNITY COLLEGE  ...           NaN  1999

[5 rows x 7 columns]

In [134]:
result.sample()

      UNITID                             INSTNM  ... TUITIONFEE_IN  YEAR
2110  174765  Regency Beauty Institute-St Cloud  ...           NaN  2009

[1 rows x 7 columns]

In [135]:
result.isna().any()

UNITID           False
INSTNM           False
STABBR           False
REGION            True
ADM_RATE          True
TUITIONFEE_IN     True
YEAR             False
dtype: bool

In [136]:
result.describe()

             UNITID         REGION      ADM_RATE  TUITIONFEE_IN           YEAR
count  1.633310e+05  163330.000000  44912.000000   79195.000000  163331.000000
mean   9.432395e+05       4.554693      0.692951   11665.636871    2007.249481
std    4.571721e+06       2.189217      0.217058    9986.003542       6.608266
min    1.006360e+05       0.000000      0.000000       0.000000    1996.000000
25%    1.633380e+05       3.000000      0.555075    3776.000000    2002.000000
50%    2.127800e+05       5.000000      0.717500    9285.000000    2008.000000
75%    4.075680e+05       6.000000      0.857100   16148.000000    2013.000000
max    4.914640e+07       9.000000      1.000000   74787.000000    2018.000000

In [137]:
result.groupby('YEAR').count()

      UNITID  INSTNM  STABBR  REGION  ADM_RATE  TUITIONFEE_IN
YEAR
1996    7007    7007    7007    7007         0              0
1997    6934    6934    6934    6934         0              0
1998    6702    6702    6702    6702         0              0
1999    6609    6609    6609    6609         0              0
2000    6654    6654    6654    6654         0           3360
2001    6725    6725    6725    6725      2482           3920
2002    6652    6652    6652    6652      2855           4049
2003    6673    6673    6673    6673      2885           4149
2004    6747    6747    6747    6747      2791           4188
2005    6899    6899    6899    6899      2823           4173
2006    6951    6951    6951    6951      2877           4201
2007    6971    6971    6971    6971      2854           4183
2008    7055    7055    7055    7055      2813           4209
2009    7217    7217    7217    7217      2794           4289
2010    7470    7470    7470    7470      2321           4337
2011    7746    7746    7746    7745      2362           4444
2012    7862    7862    7862    7862      2327           4462
2013    7869    7869    7869    7869      2241           4527
2014    7766    7766    7766    7766      2214           4407
2015    7666    7666    7666    7666      2189           4330
2016    7238    7238    7238    7238      2041           4081
2017    7112    7112    7112    7112      2037           4021
2018    6806    6806    6806    6806      2006           3865

In [138]:
# <7>
# the dataframe contains many years of data of all U.S. colleges.
# let's just look at UMBC
# filter/query the dataframe to retrieve only rows that belong to UMBC
# save the UMNC data to a new data frame. using a new variable 
# so that the old big data frame is still available for later use.

#(Write code here)
a= result.INSTNM.str.startswith('University of Maryland')
b = result[a]
b.INSTNM.unique()

umbc_df = result[result['INSTNM'].str.contains('University of Maryland-Baltimore County')]
umbc_df

      UNITID                                   INSTNM  ... TUITIONFEE_IN  YEAR
1415  163268  University of Maryland-Baltimore County  ...       11778.0  2018
1819  163268  University of Maryland-Baltimore County  ...        8520.0  2005
1779  163268  University of Maryland-Baltimore County  ...        8708.0  2007
1893  163268  University of Maryland-Baltimore County  ...        6362.0  2002
1694  163268  University of Maryland-Baltimore County  ...        9467.0  2011
1873  163268  University of Maryland-Baltimore County  ...        7388.0  2003
1510  163268  University of Maryland-Baltimore County  ...       11264.0  2016
1745  163268  University of Maryland-Baltimore County  ...        8872.0  2009
1799  163268  University of Maryland-Baltimore County  ...        8622.0  2006
1915  163268  University of Maryland-Baltimore County  ...        5910.0  2001
1660  163268  University of Maryland-Baltimore County  ...        9764.0  2012
2151  163268  University of Maryland-Baltimore County  ...           NaN  1996
1767  163268  University of Maryland-Baltimore County  ...        8780.0  2008
1830  163268  University of Maryland-Baltimore County  ...        8020.0  2004
2049  163268  University of Maryland-Baltimore County  ...           NaN  1997
1478  163268  University of Maryland-Baltimore County  ...       11518.0  2017
1926  163268  University of Maryland-Baltimore County  ...        5490.0  2000
1610  163268  University of Maryland-Baltimore County  ...       10384.0  2014
1982  163268  University of Maryland-Baltimore County  ...           NaN  1998
1629  163268  University of Maryland-Baltimore County  ...       10068.0  2013
1710  163268  University of Maryland-Baltimore County  ...        9171.0  2010
1555  163268  University of Maryland-Baltimore County  ...       11006.0  2015
1955  163268  University of Maryland-Baltimore County  ...           NaN  1999

[23 rows x 7 columns]

In [139]:
# <8>
# Explore this UMBC dataframe (# of observations, varibles, head, tail, sample, missing values, statistics,etc.)

#(Write code here)


print(umbc_df.shape)

print(umbc_df.info())

print(umbc_df.head())

print(umbc_df.tail())

print(umbc_df.sample())

print(umbc_df.describe())

print(umbc_df.isna().any())

(23, 7)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 1415 to 1955
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   UNITID         23 non-null     int64
 1   INSTNM         23 non-null     object
 2   STABBR         23 non-null     object
 3   REGION         23 non-null     float64
 4   ADM_RATE       18 non-null     float64
 5   TUITIONFEE_IN  19 non-null     float64
 6   YEAR           23 non-null     int64
dtypes: float64(3), int64(2), object(2)
memory usage: 1.4+ KB
None
      UNITID                                   INSTNM  ... TUITIONFEE_IN  YEAR
1415  163268  University of Maryland-Baltimore County  ...       11778.0  2018
1819  163268  University of Maryland-Baltimore County  ...        8520.0  2005
1779  163268  University of Maryland-Baltimore County  ...        8708.0  2007
1893  163268  University of Maryland-Baltimore County  ...        6362.0  2002
1694  163268  University of Maryland-Baltimore County  ...        9467.0  2011

[5 rows x 7 columns]
      UNITID                                   INSTNM  ... TUITIONFEE_IN  YEAR
1982  163268  University of Maryland-Baltimore County  ...           NaN  1998
1629  163268  University of Maryland-Baltimore County  ...       10068.0  2013
1710  163268  University of Maryland-Baltimore County  ...        9171.0  2010
1555  163268  University of Maryland-Baltimore County  ...       11006.0  2015
1955  163268  University of Maryland-Baltimore County  ...           NaN  1999

[5 rows x 7 columns]
      UNITID                                   INSTNM  ... TUITIONFEE_IN  YEAR
1478  163268  University of Maryland-Baltimore County  ...       11518.0  2017

[1 rows x 7 columns]
         UNITID  REGION   ADM_RATE  TUITIONFEE_IN        YEAR
count      23.0    23.0  18.000000      19.000000    23.00000
mean   163268.0     2.0   0.640694    9004.842105  2007.00000
std         0.0     0.0   0.052728    1825.795421     6.78233
min    163268.0     2.0   0.568300    5490.000000  1996.00000
25%    163268.0     2.0   0.597600    8270.000000  2001.50000
50%    163268.0     2.0   0.632100    8872.000000  2007.00000
75%    163268.0     2.0   0.689375   10226.000000  2012.50000
max    163268.0     2.0   0.717400   11778.000000  2018.00000
UNITID           False
INSTNM           False
STABBR           False
REGION           False
ADM_RATE          True
TUITIONFEE_IN     True
YEAR             False
dtype: bool

In [140]:
# <9> 
# Plot UMBC's in-state tution overtime from 1996 to 2019 using Bar Chart

#(Write code here)
#umbc_df.TUITIONFEE_IN

fig = px.bar(umbc_df.query('YEAR > 1996'), x= 'YEAR', y= 'TUITIONFEE_IN' ) 
fig.show()

In [141]:
umbc_df[umbc_df.YEAR < 2000 ]

      UNITID                                   INSTNM  ... TUITIONFEE_IN  YEAR
2151  163268  University of Maryland-Baltimore County  ...           NaN  1996
2049  163268  University of Maryland-Baltimore County  ...           NaN  1997
1982  163268  University of Maryland-Baltimore County  ...           NaN  1998
1955  163268  University of Maryland-Baltimore County  ...           NaN  1999

[4 rows x 7 columns]

In [142]:
UMBC_year_df = umbc_df.groupby('YEAR').sum().reset_index()
UMBC_year_df

    YEAR  UNITID  REGION  ADM_RATE  TUITIONFEE_IN
0   1996  163268     2.0    0.0000            0.0
1   1997  163268     2.0    0.0000            0.0
2   1998  163268     2.0    0.0000            0.0
3   1999  163268     2.0    0.0000            0.0
4   2000  163268     2.0    0.0000         5490.0
5   2001  163268     2.0    0.6551         5910.0
6   2002  163268     2.0    0.6327         6362.0
7   2003  163268     2.0    0.5757         7388.0
8   2004  163268     2.0    0.7014         8020.0
9   2005  163268     2.0    0.7143         8520.0
10  2006  163268     2.0    0.7153         8622.0
11  2007  163268     2.0    0.6895         8708.0
12  2008  163268     2.0    0.7174         8780.0
13  2009  163268     2.0    0.6890         8872.0
14  2010  163268     2.0    0.6589         9171.0
15  2011  163268     2.0    0.6081         9467.0
16  2012  163268     2.0    0.6035         9764.0
17  2013  163268     2.0    0.6315        10068.0
18  2014  163268     2.0    0.5961        10384.0
19  2015  163268     2.0    0.5942        11006.0
20  2016  163268     2.0    0.5683        11264.0
21  2017  163268     2.0    0.6021        11518.0
22  2018  163268     2.0    0.5794        11778.0

In [143]:
# <10> 
# Plot UMBC's in-state tution overtime from 1996 to 2019 using Line Chart

#(Write code here)
fig = px.line(UMBC_year_df, x= 'YEAR', y= 'TUITIONFEE_IN' ) 
fig.show()

In [144]:
# <11>
# Now let's look at the tuition growth rate year over year
# We need to calculate UMBC tuition change percentage each year
# First convert the TUITIONFEE_IN column to a Python List

#(Write code here)
tuition_rate = UMBC_year_df.TUITIONFEE_IN.astype(int).to_list()
tuition_rate

[0,
 0,
 0,
 0,
 5490,
 5910,
 6362,
 7388,
 8020,
 8520,
 8622,
 8708,
 8780,
 8872,
 9171,
 9467,
 9764,
 10068,
 10384,
 11006,
 11264,
 11518,
 11778]

In [145]:
# Loop through the list and calculate the % change each year over the prior year
# This takes some effort. Not hard, just some abstract/logical thinking and some experiments
# Have fun on this one

 #(Write code here)
# rate of change == current - previous / previous *100

tuition_fee = tuition_rate
tuition_rate_change = []

num = 0


for i in range(0,22):
  if i == 0:
    tuition_rate_change.append(0)
  if tuition_fee[num] == 0 & tuition_fee[i] == 0:
    tuition_rate_change.append(0)
    #print(i)
    num = num + 1
    tuition_fee[i]
    #print(f" {tuition_fee[num]} - {tuition_fee[i]}/ {tuition_fee[i]} = 0 ")
  else: 
    #print(f"for {tuition_fee[num]} - {tuition_fee[i]}/ {tuition_fee[num]} ")
    num = num + 1
    percentage_change = ((tuition_fee[num]- tuition_fee[i])/ tuition_fee[i] *100)
    percentage_change = abs(percentage_change)
    tuition_rate_change.append(percentage_change)
    #print(i)
    #print(f" {tuition_fee[num]} - {tuition_fee[i]}/ {tuition_fee[i]} = {percentage_change}")

print(tuition_rate_change)

[0, 0, 0, 0, 0, 7.650273224043716, 7.648054145516074, 16.12700408676517, 8.554412560909583, 6.234413965087282, 1.1971830985915493, 0.9974483878450475, 0.8268259072117593, 1.0478359908883828, 3.370153291253381, 3.227565151019518, 3.1372134783986483, 3.11347808275297, 3.1386571315057608, 5.989984591679507, 2.344175904052335, 2.254971590909091, 2.2573363431151243]

In [146]:
# The resulting number has many decimal points which are unnecessary and not visually appealing.
# Round up the percentage to two decimal points
# You can use for loop. Or better, use list comprehension for simplicity/brevity

#(Write code here)
tuition_rate_percent = [round(x,2) for x in tuition_rate_change]
tuition_rate_percent

[0,
 0,
 0,
 0,
 0,
 7.65,
 7.65,
 16.13,
 8.55,
 6.23,
 1.2,
 1.0,
 0.83,
 1.05,
 3.37,
 3.23,
 3.14,
 3.11,
 3.14,
 5.99,
 2.34,
 2.25,
 2.26]

In [147]:
# Add the list of the percentages to the dataframe as a new column ("PCT_CHANGE")
# Not as hard as you may think. If you get stuck, you think too hard. 
# Google it and you will find the answer.

#(Write code here)
UMBC_year_df['PCT_CHANGE'] = tuition_rate_percent
UMBC_year_df

    YEAR  UNITID  REGION  ADM_RATE  TUITIONFEE_IN  PCT_CHANGE
0   1996  163268     2.0    0.0000            0.0        0.00
1   1997  163268     2.0    0.0000            0.0        0.00
2   1998  163268     2.0    0.0000            0.0        0.00
3   1999  163268     2.0    0.0000            0.0        0.00
4   2000  163268     2.0    0.0000         5490.0        0.00
5   2001  163268     2.0    0.6551         5910.0        7.65
6   2002  163268     2.0    0.6327         6362.0        7.65
7   2003  163268     2.0    0.5757         7388.0       16.13
8   2004  163268     2.0    0.7014         8020.0        8.55
9   2005  163268     2.0    0.7143         8520.0        6.23
10  2006  163268     2.0    0.7153         8622.0        1.20
11  2007  163268     2.0    0.6895         8708.0        1.00
12  2008  163268     2.0    0.7174         8780.0        0.83
13  2009  163268     2.0    0.6890         8872.0        1.05
14  2010  163268     2.0    0.6589         9171.0        3.37
15  2011  163268     2.0    0.6081         9467.0        3.23
16  2012  163268     2.0    0.6035         9764.0        3.14
17  2013  163268     2.0    0.6315        10068.0        3.11
18  2014  163268     2.0    0.5961        10384.0        3.14
19  2015  163268     2.0    0.5942        11006.0        5.99
20  2016  163268     2.0    0.5683        11264.0        2.34
21  2017  163268     2.0    0.6021        11518.0        2.25
22  2018  163268     2.0    0.5794        11778.0        2.26

In [148]:
# Finaly, we can make the plot tuition growth rate year over year - bar first, then line chart

# (write code here)
fig = px.bar(UMBC_year_df, x= 'YEAR', y= 'PCT_CHANGE' ) 
fig.show()

In [149]:
fig = px.line(UMBC_year_df, x= 'YEAR', y= 'PCT_CHANGE' ) 
fig.show()

In [150]:
# <12>
# Since we want to do the same calculation for JHU. 
# Instead of doing it piecemeal as we did for UMBC
# Let's create a function which can be reused for any college.
# This function takes a list of tuitions and return a list of percentage changes year over year
# This function can be used later 

#(Write code here)


def percent_change(school):

  school_df = result[result['INSTNM'].str.contains(school)]
  school_df = school_df.groupby('YEAR').sum().reset_index()
  school_df

  tuition_rate =school_df.TUITIONFEE_IN.astype(int).to_list()
  tuition_rate

  tuition_fee = tuition_rate
  tuition_rate_change = []

  num = 0
  for i in range(0,22):
        if i == 0:
          tuition_rate_change.append(0)
        if tuition_fee[num] == 0 & tuition_fee[i] == 0:
          tuition_rate_change.append(0)
          #print(i)
          num = num + 1
          tuition_fee[i]
          #print(f"for {tuition_fee[num]} - {tuition_fee[i]}/ {tuition_fee[i]} = 0 ")
        else: 
          
          num = num + 1
          percentage_change = ((tuition_fee[num]- tuition_fee[i])/ tuition_fee[i] *100)
          percentage_change = abs(percentage_change)
          tuition_rate_change.append(percentage_change)
          #print(i)
          #print(f"for {tuition_fee[num]} - {tuition_fee[i]}/ {tuition_fee[i]} = {percentage_change}")

  tuition_rate_percent = [round(x,2) for x in tuition_rate_change]
  # school_df['PCT_CHANGE'] =  tuition_rate_percent

  return tuition_rate_percent

In [151]:
percent_change('Johns H')

[0,
 0,
 0,
 0,
 0,
 5.13,
 4.5,
 4.89,
 4.91,
 4.91,
 7.21,
 5.9,
 5.01,
 3.85,
 3.91,
 3.93,
 2.63,
 4.79,
 3.5,
 3.51,
 3.49,
 3.49,
 3.01]

In [152]:
# <13>
# the dataframe contains many years of data of all U.S. colleges.
# let's just look at JHU
# filter/query the dataframe to retrieve only rows that belong to JHU
# save the JHU data to a new data frame. using a new variable 
# so that the old big data frame is still available for later use.

#(Write code here)

JHU_df = result[result['INSTNM'].str.startswith('J') & result['INSTNM'].str.contains('J',) & result['INSTNM'].str.contains('H') & result['INSTNM'].str.contains('U')]
print(JHU_df.INSTNM.unique())

JHU_df = result[result['INSTNM'].str.contains('Johns Hopkins University')]
JHU_df

['Johns Hopkins University'
 'JAMESON MEMORIAL HOSPITAL SCHOOL OF NURSING -SOUTH'
 'JACKSON BEAUTY SCHOOL 2' 'John Hancock University'
 'JON LOUIS SCHOOL OF BEAUTY' 'JOHNSONS BEAUTY ACADEMY'
 'JOLIET TOWNSHIP HIGH SCHOOL PRACTICAL NURSING'
 'JENNIE EDMUNDSON MEMORIAL HOSPITAL SCH OF NURSING'
 'JENNIE EDMUNDSON MEMORIAL HOSPITAL-SCH OF RAD TECH'
 'JOHNSTON SCHOOL OF PRACTICAL NURSING'
 'JOSEPHS COLLEGE OF BEAUTY-BEATRICE' 'JOSEPHS COLLEGE OF BEAUTY-HASTINGS'
 'JOSEPHS COLLEGE OF BEAUTY-NORFOLK'
 'JOSEPHS COLLEGE OF BEAUTY-NORTH PLATTE'
 'JOSEPH DONAHUE INTERNATIONAL SCH OF BARBER-HAIRSTY'
 'JACKSON BEAUTY SCHOOL' 'JOSEPHS COLLEGE OF BEAUTY-GRAND ISLAND'
 'JOHN PERI BEAUTY COLLEGE' 'JOHNSON & WALES UNIVERSITY AT VAIL'
 'JAMES MARTIN ADULT HEALTH OCCUPATIONS']

      UNITID                    INSTNM STABBR  ...  ADM_RATE  TUITIONFEE_IN  YEAR
1410  162928  Johns Hopkins University     MD  ...    0.1148        53740.0  2018
1812  162928  Johns Hopkins University     MD  ...    0.3509        31620.0  2005
1772  162928  Johns Hopkins University     MD  ...    0.2571        35900.0  2007
1884  162928  Johns Hopkins University     MD  ...    0.3506        27390.0  2002
1687  162928  Johns Hopkins University     MD  ...    0.1940        42280.0  2011
1865  162928  Johns Hopkins University     MD  ...    0.3060        28730.0  2003
1503  162928  Johns Hopkins University     MD  ...    0.1284        50410.0  2016
1738  162928  Johns Hopkins University     MD  ...    0.2782        39150.0  2009
1792  162928  Johns Hopkins University     MD  ...    0.2792        33900.0  2006
1906  162928  Johns Hopkins University     MD  ...    0.3431        26210.0  2001
1653  162928  Johns Hopkins University     MD  ...    0.1843        43390.0  2012
2139  162928  Johns Hopkins University     MD  ...       NaN            NaN  1996
1760  162928  Johns Hopkins University     MD  ...    0.2609        37700.0  2008
1823  162928  Johns Hopkins University     MD  ...    0.3071        30140.0  2004
2039  162928  Johns Hopkins University     MD  ...       NaN            NaN  1997
1473  162928  Johns Hopkins University     MD  ...    0.1254        52170.0  2017
1917  162928  Johns Hopkins University     MD  ...       NaN        24930.0  2000
1603  162928  Johns Hopkins University     MD  ...    0.1608        47060.0  2014
1973  162928  Johns Hopkins University     MD  ...       NaN            NaN  1998
1622  162928  Johns Hopkins University     MD  ...    0.1813        45470.0  2013
1703  162928  Johns Hopkins University     MD  ...    0.2225        40680.0  2010
1548  162928  Johns Hopkins University     MD  ...    0.1412        48710.0  2015
1946  162928  Johns Hopkins University     MD  ...       NaN            NaN  1999

[23 rows x 7 columns]

In [153]:
JHU_year_df = JHU_df.groupby('YEAR').sum().reset_index()
JHU_year_df

    YEAR  UNITID  REGION  ADM_RATE  TUITIONFEE_IN
0   1996  162928     2.0    0.0000            0.0
1   1997  162928     2.0    0.0000            0.0
2   1998  162928     2.0    0.0000            0.0
3   1999  162928     2.0    0.0000            0.0
4   2000  162928     2.0    0.0000        24930.0
5   2001  162928     2.0    0.3431        26210.0
6   2002  162928     2.0    0.3506        27390.0
7   2003  162928     2.0    0.3060        28730.0
8   2004  162928     2.0    0.3071        30140.0
9   2005  162928     2.0    0.3509        31620.0
10  2006  162928     2.0    0.2792        33900.0
11  2007  162928     2.0    0.2571        35900.0
12  2008  162928     2.0    0.2609        37700.0
13  2009  162928     2.0    0.2782        39150.0
14  2010  162928     2.0    0.2225        40680.0
15  2011  162928     2.0    0.1940        42280.0
16  2012  162928     2.0    0.1843        43390.0
17  2013  162928     2.0    0.1813        45470.0
18  2014  162928     2.0    0.1608        47060.0
19  2015  162928     2.0    0.1412        48710.0
20  2016  162928     2.0    0.1284        50410.0
21  2017  162928     2.0    0.1254        52170.0
22  2018  162928     2.0    0.1148        53740.0

In [154]:
tuition_rate = JHU_year_df.TUITIONFEE_IN.astype(int).to_list()
tuition_rate

tuition_fee = tuition_rate
tuition_rate_change = []

num = 0
for i in range(0,22):
      if i == 0:
        tuition_rate_change.append(0)
      if tuition_fee[num] == 0 & tuition_fee[i] == 0:
        tuition_rate_change.append(0)
        #print(i)
        num = num + 1
        tuition_fee[i]
        #print(f"for {tuition_fee[num]} - {tuition_fee[i]}/ {tuition_fee[i]} = 0 ")
      else: 
        #print(f"for {tuition_fee[num]} - {tuition_fee[i]}/ {tuition_fee[num]} ")
        num = num + 1
        percentage_change = ((tuition_fee[num]- tuition_fee[i])/ tuition_fee[i] *100)
        percentage_change = abs(percentage_change)
        tuition_rate_change.append(percentage_change)
          #print(i)
          #print(f"for {tuition_fee[num]} - {tuition_fee[i]}/ {tuition_fee[i]} = {percentage_change}")

tuition_rate_percent = [round(x,2) for x in tuition_rate_change]
JHU_year_df['PCT_CHANGE'] =  tuition_rate_percent

JHU_year_df

    YEAR  UNITID  REGION  ADM_RATE  TUITIONFEE_IN  PCT_CHANGE
0   1996  162928     2.0    0.0000            0.0        0.00
1   1997  162928     2.0    0.0000            0.0        0.00
2   1998  162928     2.0    0.0000            0.0        0.00
3   1999  162928     2.0    0.0000            0.0        0.00
4   2000  162928     2.0    0.0000        24930.0        0.00
5   2001  162928     2.0    0.3431        26210.0        5.13
6   2002  162928     2.0    0.3506        27390.0        4.50
7   2003  162928     2.0    0.3060        28730.0        4.89
8   2004  162928     2.0    0.3071        30140.0        4.91
9   2005  162928     2.0    0.3509        31620.0        4.91
10  2006  162928     2.0    0.2792        33900.0        7.21
11  2007  162928     2.0    0.2571        35900.0        5.90
12  2008  162928     2.0    0.2609        37700.0        5.01
13  2009  162928     2.0    0.2782        39150.0        3.85
14  2010  162928     2.0    0.2225        40680.0        3.91
15  2011  162928     2.0    0.1940        42280.0        3.93
16  2012  162928     2.0    0.1843        43390.0        2.63
17  2013  162928     2.0    0.1813        45470.0        4.79
18  2014  162928     2.0    0.1608        47060.0        3.50
19  2015  162928     2.0    0.1412        48710.0        3.51
20  2016  162928     2.0    0.1284        50410.0        3.49
21  2017  162928     2.0    0.1254        52170.0        3.49
22  2018  162928     2.0    0.1148        53740.0        3.01

In [155]:
JHU_year_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   YEAR           23 non-null     int64
 1   UNITID         23 non-null     int64
 2   REGION         23 non-null     float64
 3   ADM_RATE       23 non-null     float64
 4   TUITIONFEE_IN  23 non-null     float64
 5   PCT_CHANGE     23 non-null     float64
dtypes: float64(4), int64(2)
memory usage: 1.2 KB

In [156]:
# <14> 
# Plot JHU's in-state tuition overtime from 1996 to 2019. 
# Let's plot bar and line chart together

#(Write code here)


import plotly.graph_objects as go

fig = go.Figure()

fig.add_trace(
    go.Bar(
        x= JHU_year_df['YEAR'],
        y = JHU_year_df['TUITIONFEE_IN']
       
    ))

fig.add_trace(
    go.Line(
        x= JHU_year_df['YEAR'],
        y= JHU_year_df['TUITIONFEE_IN']
  
    ))
# fig.update_xaxes(title_text="Year")
# fig.update_yaxes(title_text="PCT")
# fig.update_layout(title_text="Year vs PCT")

/usr/local/lib/python3.7/dist-packages/plotly/graph_objs/_deprecations.py:385: DeprecationWarning:

plotly.graph_objs.Line is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.scatter.Line
  - plotly.graph_objs.layout.shape.Line
  - etc.

In [157]:
# <15>
# Let's calculate the JHU tuition percentge growth using the function defined earlier

#(Write code here)

percent_change('Johns H')

[0,
 0,
 0,
 0,
 0,
 5.13,
 4.5,
 4.89,
 4.91,
 4.91,
 7.21,
 5.9,
 5.01,
 3.85,
 3.91,
 3.93,
 2.63,
 4.79,
 3.5,
 3.51,
 3.49,
 3.49,
 3.01]

In [158]:
# <16>
# Add the list of percentage changes to the dataframe as a new column ("PCT_CHANGE")

#(Write code here)
JHU_year_df['PCT_CHANGE'] =  percent_change('Johns H') 

JHU_year_df

    YEAR  UNITID  REGION  ADM_RATE  TUITIONFEE_IN  PCT_CHANGE
0   1996  162928     2.0    0.0000            0.0        0.00
1   1997  162928     2.0    0.0000            0.0        0.00
2   1998  162928     2.0    0.0000            0.0        0.00
3   1999  162928     2.0    0.0000            0.0        0.00
4   2000  162928     2.0    0.0000        24930.0        0.00
5   2001  162928     2.0    0.3431        26210.0        5.13
6   2002  162928     2.0    0.3506        27390.0        4.50
7   2003  162928     2.0    0.3060        28730.0        4.89
8   2004  162928     2.0    0.3071        30140.0        4.91
9   2005  162928     2.0    0.3509        31620.0        4.91
10  2006  162928     2.0    0.2792        33900.0        7.21
11  2007  162928     2.0    0.2571        35900.0        5.90
12  2008  162928     2.0    0.2609        37700.0        5.01
13  2009  162928     2.0    0.2782        39150.0        3.85
14  2010  162928     2.0    0.2225        40680.0        3.91
15  2011  162928     2.0    0.1940        42280.0        3.93
16  2012  162928     2.0    0.1843        43390.0        2.63
17  2013  162928     2.0    0.1813        45470.0        4.79
18  2014  162928     2.0    0.1608        47060.0        3.50
19  2015  162928     2.0    0.1412        48710.0        3.51
20  2016  162928     2.0    0.1284        50410.0        3.49
21  2017  162928     2.0    0.1254        52170.0        3.49
22  2018  162928     2.0    0.1148        53740.0        3.01

In [159]:
# <17> Make a bar plot of the JHU percentage changes tuitions over time

#(Write code here)

fig = px.bar(JHU_year_df, x= 'YEAR', y= 'PCT_CHANGE' ) 
fig.show()

In [160]:
# <18>
# In order to plot both UMBC and JHU tuition change over time in the same plot,
# we need to combine the two datasets using the common key of YEAR 
# First make a umbc2 dataframe with only two columns needed. WE don't need other columns.
# Also change the column name from "PCT_CHANGE" to "UMBC_PCT" in preparation for the merge.
# This is because both umbc and jhu dataframe have the same column name "PCT_CHANGE",
# We rename them to there is no collision during the merge. BTW, Pandas handles collision gracefully,
# Feel free to try it without changing the column names.

#(Write code here)
UMBC_year_df = UMBC_year_df[['YEAR','PCT_CHANGE']]
umbc2 = UMBC_year_df.rename(columns={"PCT_CHANGE": "UMBC_PCT"})
umbc2

    YEAR  UMBC_PCT
0   1996      0.00
1   1997      0.00
2   1998      0.00
3   1999      0.00
4   2000      0.00
5   2001      7.65
6   2002      7.65
7   2003     16.13
8   2004      8.55
9   2005      6.23
10  2006      1.20
11  2007      1.00
12  2008      0.83
13  2009      1.05
14  2010      3.37
15  2011      3.23
16  2012      3.14
17  2013      3.11
18  2014      3.14
19  2015      5.99
20  2016      2.34
21  2017      2.25
22  2018      2.26

In [161]:
# Then make a jhu2 dataframe with only two columns needed. WE don't need other columns.
# Also change the column name from "PCT_CHANGE" to "JHU_PCT"  in preparation for the merge

#(Write code here)

JHU_year_df = JHU_year_df[['YEAR','PCT_CHANGE']]
jhu2 = JHU_year_df.rename(columns={"PCT_CHANGE": "JHU_PCT"})
jhu2

    YEAR  JHU_PCT
0   1996     0.00
1   1997     0.00
2   1998     0.00
3   1999     0.00
4   2000     0.00
5   2001     5.13
6   2002     4.50
7   2003     4.89
8   2004     4.91
9   2005     4.91
10  2006     7.21
11  2007     5.90
12  2008     5.01
13  2009     3.85
14  2010     3.91
15  2011     3.93
16  2012     2.63
17  2013     4.79
18  2014     3.50
19  2015     3.51
20  2016     3.49
21  2017     3.49
22  2018     3.01

In [162]:
# Now, merger the two data frames
# and display the new dataframe

#(Write code here)

merged_df = jhu2.merge(umbc2 ,how ='inner', on= 'YEAR' )
merged_df

# df1.merge(df2, how='inner', on='a')

    YEAR  JHU_PCT  UMBC_PCT
0   1996     0.00      0.00
1   1997     0.00      0.00
2   1998     0.00      0.00
3   1999     0.00      0.00
4   2000     0.00      0.00
5   2001     5.13      7.65
6   2002     4.50      7.65
7   2003     4.89     16.13
8   2004     4.91      8.55
9   2005     4.91      6.23
10  2006     7.21      1.20
11  2007     5.90      1.00
12  2008     5.01      0.83
13  2009     3.85      1.05
14  2010     3.91      3.37
15  2011     3.93      3.23
16  2012     2.63      3.14
17  2013     4.79      3.11
18  2014     3.50      3.14
19  2015     3.51      5.99
20  2016     3.49      2.34
21  2017     3.49      2.25
22  2018     3.01      2.26

In [163]:
# Plot UMBC and JHU separately on the same plot 
# However, this does not work since the bars overlap.

#(Write code here)


fig = px.bar(umbc2, x= 'YEAR', y= 'UMBC_PCT' ) 
fig.show()

fig = px.bar(jhu2, x= 'YEAR', y= 'JHU_PCT' ) 
fig.show()

In [164]:
# Plot them together using y=["UMBC_PCT","JHU_PCT"] option of bar plot

#(Write code here)

import plotly.graph_objects as go

fig = go.Figure()

fig.add_trace(
    go.Bar(
        x= merged_df['YEAR'],
        y= merged_df['UMBC_PCT']
    ))

fig.add_trace(
    go.Bar(
        x=merged_df['YEAR'],
        y= merged_df['JHU_PCT']

    ))

fig.show()

In [165]:
# Plot them together using y=["UMBC_PCT","JHU_PCT"] option of line plot

#(Write code here)

import plotly.graph_objects as go

fig = go.Figure()

fig.add_trace(
    go.Line(
        x= merged_df['YEAR'],
        y= merged_df['UMBC_PCT'],
        name =  'UMBC_PCT'
    ))

fig.add_trace(
    go.Line(
        x=merged_df['YEAR'],
        y= merged_df['JHU_PCT'],
        name = 'JHU_PCT'
    ))
fig.update_xaxes(title_text="Year")
fig.update_yaxes(title_text="PCT")
fig.update_layout(title_text="Year vs PCT")


fig.show()

/usr/local/lib/python3.7/dist-packages/plotly/graph_objs/_deprecations.py:385: DeprecationWarning:

plotly.graph_objs.Line is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.scatter.Line
  - plotly.graph_objs.layout.shape.Line
  - etc.

In [166]:
# <19> 
# document your observation/conclusion of the comparison plots (bar/line)
# use the following Markdown cell


**Observation:**


Based on my observation of the comparison plots, it is clear that institutions began charging tuition fee in 2000, because there are not data before 2000.

For UMBC, precentage change in tutiton rate reached the highest at 16.3 PCT in 2003, then it rapidly decrease between 2003 and 2006. However, between 2010 and 2018, UMBC have keept PCT between 3.3% and 6%. 

For JHU, between 2000 and 2018, PCT have been between 2.6%(the lowest PCT) and 7.2%(the highest PCT).

#### Based on my observation of the plots
#### blah, blah 
#### blah, blah
#### ...
#### blah, blah

In [167]:
# The end.