# <center> DATA 690
## <center>Assignment # 06
### <center> By: Geslande Belus

## REQUIREMENT #1:
#### Use Pandas read_html() function to retrive the HTML tables as dataframes from the web page:

In [1]:
import pandas as pd

table_cost = pd.read_html('https://www.genealogybranches.com/censuscosts.html', header=0)
import pandas as pd

#table_cost = pd.read_html('https://www.genealogybranches.com/censuscosts.html', header=1)

## Requirement #2:
#### Find out how many HTML tables Pandas retrieves from the web page. Find out which dataframe contain the data and use it for further processing.

In [2]:
len(table_cost)

2

In [3]:
df1 = table_cost[0]
df2 = table_cost[1]

print(f"Table 1: \n{df1}", f"\n\nTable 2: \n{df2}")

Table 1:
   Census Year  Total Population     Census Cost Average Cost Per Person
0         1790           3929214         $44,377              1.13 cents
1         1800           5308483         $66,109              1.24 cents
2         1810           7239881        $178,445              2.46 cents
3         1820           9633822        $208,526              2.16 cents
4         1830          12866020        $378,545              2.94 cents
5         1840          17069458        $833,371              4.88 cents
6         1850          23191876      $1,423,351              6.14 cents
7         1860          31443321      $1,969,377              6.26 cents
8         1870          38558371      $3,421,198              8.87 cents
9         1880          50155783      $5,790,678             11.54 cents
10        1890          62979766     $11,547,127             18.33 cents
11        1900          76303387     $11,854,000             15.54 cents
12        1910          91972266     $15,968,000             17.07 cents
13        1920         105710620     $25,117,000             23.76 cents
14        1930         122775046     $40,156,000             32.71 cents
15        1940         131669275     $67,527,000             51.29 cents
16        1950         151325798     $91,462,000             60.44 cents
17        1960         179323175    $127,934,000             71.34 cents
18        1970         203302031    $247,653,000                   $1.22
19        1980         226542199  $1,078,488,000                   $4.76
20        1990         248718301  $2,492,830,000                  $10.02
21        2000         281421906    $4.5 Billion                  $15.99
22       2010*         308745538     $13 Billion                  $42.11

Table 2:
Empty DataFrame
Columns: [The U.S. population reached 300,000,000 on 17 October 2006. At the end of 2015, it was at 319,958,045. At the end of 2017, it was at 326,971,209. Source (except 2010)... Gauthier, Jason G., Measuring America: The Decennial Censuses From 1790-2000, (US Bureau of the Census/Dept of Commerce), Washington: US Government Printing Office, 2002, Appendix A, Page A-1.The numbers in the fourth column are not included in the book and were added by me. * The 2010 census cost was taken from GAO (U.S. Government Accountability Office) report number GAO-11-496T, 2010 Census: Preliminary Lessons Learned Highlight the Need for Fundamental Reforms (April 6, 2011): "At about $13 billion, 2010 was the costliest U.S. Census in history." The official census day for 2010 was April 1, 2010. The total population figure (308,745,538) was announced by the U.S. Census Bureau on Dec. 21, 2010. See: 2010 Census - Resident Population Data The 1940 Census 1940 census records were released on April 2, 2012. For details see:1940 Census Records and InformationFor information on census records for other years see: U.S. Census Records 1790-1940]
Index: []

## Requirement #3:
##### Display and explore the data (rows, columns, etc.) and determine the data quality (bad rows, bad columns, bad elements, null values, etc.)

In [4]:
print(table_cost)
# for row in table_cost: 
#     print(row)

[   Census Year  Total Population     Census Cost Average Cost Per Person
0         1790           3929214         $44,377              1.13 cents
1         1800           5308483         $66,109              1.24 cents
2         1810           7239881        $178,445              2.46 cents
3         1820           9633822        $208,526              2.16 cents
4         1830          12866020        $378,545              2.94 cents
5         1840          17069458        $833,371              4.88 cents
6         1850          23191876      $1,423,351              6.14 cents
7         1860          31443321      $1,969,377              6.26 cents
8         1870          38558371      $3,421,198              8.87 cents
9         1880          50155783      $5,790,678             11.54 cents
10        1890          62979766     $11,547,127             18.33 cents
11        1900          76303387     $11,854,000             15.54 cents
12        1910          91972266     $15,968,000             17.07 cents
13        1920         105710620     $25,117,000             23.76 cents
14        1930         122775046     $40,156,000             32.71 cents
15        1940         131669275     $67,527,000             51.29 cents
16        1950         151325798     $91,462,000             60.44 cents
17        1960         179323175    $127,934,000             71.34 cents
18        1970         203302031    $247,653,000                   $1.22
19        1980         226542199  $1,078,488,000                   $4.76
20        1990         248718301  $2,492,830,000                  $10.02
21        2000         281421906    $4.5 Billion                  $15.99
22       2010*         308745538     $13 Billion                  $42.11, Empty DataFrame
Columns: [The U.S. population reached 300,000,000 on 17 October 2006. At the end of 2015, it was at 319,958,045. At the end of 2017, it was at 326,971,209. Source (except 2010)... Gauthier, Jason G., Measuring America: The Decennial Censuses From 1790-2000, (US Bureau of the Census/Dept of Commerce), Washington: US Government Printing Office, 2002, Appendix A, Page A-1.The numbers in the fourth column are not included in the book and were added by me. * The 2010 census cost was taken from GAO (U.S. Government Accountability Office) report number GAO-11-496T, 2010 Census: Preliminary Lessons Learned Highlight the Need for Fundamental Reforms (April 6, 2011): "At about $13 billion, 2010 was the costliest U.S. Census in history." The official census day for 2010 was April 1, 2010. The total population figure (308,745,538) was announced by the U.S. Census Bureau on Dec. 21, 2010. See: 2010 Census - Resident Population Data The 1940 Census 1940 census records were released on April 2, 2012. For details see:1940 Census Records and InformationFor information on census records for other years see: U.S. Census Records 1790-1940]
Index: []]

In [5]:
df1 = table_cost[0]
df1.head()

  Census Year  Total Population Census Cost Average Cost Per Person
0        1790           3929214     $44,377              1.13 cents
1        1800           5308483     $66,109              1.24 cents
2        1810           7239881    $178,445              2.46 cents
3        1820           9633822    $208,526              2.16 cents
4        1830          12866020    $378,545              2.94 cents

In [6]:
df1.isnull()

    Census Year  Total Population  Census Cost  Average Cost Per Person
0         False             False        False                    False
1         False             False        False                    False
2         False             False        False                    False
3         False             False        False                    False
4         False             False        False                    False
5         False             False        False                    False
6         False             False        False                    False
7         False             False        False                    False
8         False             False        False                    False
9         False             False        False                    False
10        False             False        False                    False
11        False             False        False                    False
12        False             False        False                    False
13        False             False        False                    False
14        False             False        False                    False
15        False             False        False                    False
16        False             False        False                    False
17        False             False        False                    False
18        False             False        False                    False
19        False             False        False                    False
20        False             False        False                    False
21        False             False        False                    False
22        False             False        False                    False

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     int64
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: int64(1), object(3)
memory usage: 864.0+ bytes

In [8]:
print(df1.columns)
print(df1.index)

Index(['Census Year', 'Total Population', 'Census Cost',
       'Average Cost Per Person'],
      dtype='object')
RangeIndex(start=0, stop=23, step=1)

## Requirement #4:

##### Document the data quality issues using a Markdown cell so the reader understands what the problems are.

##### The entire dataframe below contains dirty data and it would require cleaning of all columns in the dataframe. 
##### For example: 
- The Census Year column have an astrisk within one of the string values
- From the raw texr file, The Total Population column appears to have commas(,) in the raw data values instead of intefers values
- The Census Cost Average column has string values with ('$') , (',') and ('Billion') instead of integers values 
- The Average Cost Per Person column have string values that some contains the word 'cents' and cash symbol('$')

In [9]:
print(df1)

   Census Year  Total Population     Census Cost Average Cost Per Person
0         1790           3929214         $44,377              1.13 cents
1         1800           5308483         $66,109              1.24 cents
2         1810           7239881        $178,445              2.46 cents
3         1820           9633822        $208,526              2.16 cents
4         1830          12866020        $378,545              2.94 cents
5         1840          17069458        $833,371              4.88 cents
6         1850          23191876      $1,423,351              6.14 cents
7         1860          31443321      $1,969,377              6.26 cents
8         1870          38558371      $3,421,198              8.87 cents
9         1880          50155783      $5,790,678             11.54 cents
10        1890          62979766     $11,547,127             18.33 cents
11        1900          76303387     $11,854,000             15.54 cents
12        1910          91972266     $15,968,000             17.07 cents
13        1920         105710620     $25,117,000             23.76 cents
14        1930         122775046     $40,156,000             32.71 cents
15        1940         131669275     $67,527,000             51.29 cents
16        1950         151325798     $91,462,000             60.44 cents
17        1960         179323175    $127,934,000             71.34 cents
18        1970         203302031    $247,653,000                   $1.22
19        1980         226542199  $1,078,488,000                   $4.76
20        1990         248718301  $2,492,830,000                  $10.02
21        2000         281421906    $4.5 Billion                  $15.99
22       2010*         308745538     $13 Billion                  $42.11

## Requirement #5:
### Write a function named cleanse_year() that takes a string as input and removes any asterisks in the string and return the cleansed string. Test the function by using test strings

In [10]:
# Test code
year_list = ['123*', '239*0', '*2928']

for ele in year_list:
    print(ele.replace("*",""))

123
2390
2928

In [11]:
def cleanse_year(raw_col):

    year_colm = raw_col.replace("*","")
    return year_colm

## Requirement #6 :
### Cleanse the column "Census Year" using the function cleanse_year() and Pandas's apply() function.

In [12]:
 df1["Census Year"] =df1["Census Year"].apply(cleanse_year)
 df1["Census Year"]

0     1790
1     1800
2     1810
3     1820
4     1830
5     1840
6     1850
7     1860
8     1870
9     1880
10    1890
11    1900
12    1910
13    1920
14    1930
15    1940
16    1950
17    1960
18    1970
19    1980
20    1990
21    2000
22    2010
Name: Census Year, dtype: object

In [13]:
df1.tail()

   Census Year  Total Population     Census Cost Average Cost Per Person
18        1970         203302031    $247,653,000                   $1.22
19        1980         226542199  $1,078,488,000                   $4.76
20        1990         248718301  $2,492,830,000                  $10.02
21        2000         281421906    $4.5 Billion                  $15.99
22        2010         308745538     $13 Billion                  $42.11

## Requirement #7:
### Repeat this process for column "Total Population", "Census Cost", "Average Cost Per Person". (define, test, and apply the function)

In [14]:
# Test code
total_pop_list = [530483]

for i in total_pop_list:
    print(int(i))

530483

In [15]:
def cleanse_total_population(raw_population):
    
    raw_pop = int(raw_population)
    return raw_pop

In [16]:
 df1["Total Population"] = df1["Total Population"].apply(cleanse_total_population)
 df1["Total Population"]

0       3929214
1       5308483
2       7239881
3       9633822
4      12866020
5      17069458
6      23191876
7      31443321
8      38558371
9      50155783
10     62979766
11     76303387
12     91972266
13    105710620
14    122775046
15    131669275
16    151325798
17    179323175
18    203302031
19    226542199
20    248718301
21    281421906
22    308745538
Name: Total Population, dtype: int64

In [17]:
print(df1['Census Cost'][1], type(df1['Census Cost'][1]))

$66,109 <class 'str'>

In [18]:
# Test Code
cost_list = ['$223,555','$94,455']

for ele in cost_list:
    if ele.lstrip().replace('$','').replace(',','').isdigit():
            print(ele.lstrip().replace('$','').replace(',',''))     
    else: 
        value_cost = ele.split(' ')
        if 'Billion' in value_cost:
            print((int(float(value_cost[0].lstrip().replace('$',''))* 1000000000)))

223555
94455

In [19]:
def cleanse_cenus_cost(raw_cost):
    if raw_cost.lstrip().replace('$','').replace(',','').isdigit():
        return raw_cost.lstrip().replace('$','').replace(',','')
       
    else: 
        val_cost = raw_cost.split(' ')
        if 'Billion' in val_cost:
            return (int(float(val_cost[0].lstrip().replace('$',''))* 1000000000))

df1['Census Cost'].apply(cleanse_cenus_cost)

0           44377
1           66109
2          178445
3          208526
4          378545
5          833371
6         1423351
7         1969377
8         3421198
9         5790678
10       11547127
11       11854000
12       15968000
13       25117000
14       40156000
15       67527000
16       91462000
17      127934000
18      247653000
19     1078488000
20     2492830000
21     4500000000
22    13000000000
Name: Census Cost, dtype: object

In [20]:
df1['Census Cost'] = df1['Census Cost'].apply(cleanse_cenus_cost)
df1['Census Cost']

0           44377
1           66109
2          178445
3          208526
4          378545
5          833371
6         1423351
7         1969377
8         3421198
9         5790678
10       11547127
11       11854000
12       15968000
13       25117000
14       40156000
15       67527000
16       91462000
17      127934000
18      247653000
19     1078488000
20     2492830000
21     4500000000
22    13000000000
Name: Census Cost, dtype: object

In [21]:
# Test Code
test_list = ['41.34 cents', '$10.02']

for x in test_list :
    x_value = x.replace("cents","").replace("$","")
    x_value = float(x_value)
    print(x_value)

41.34
10.02

In [22]:
def cleanse_avg_cost(raw_person):
    val = raw_person.replace("cents","").replace("$","")
    return (float(val))

df1["Average Cost Per Person"].apply(cleanse_avg_cost)

0      1.13
1      1.24
2      2.46
3      2.16
4      2.94
5      4.88
6      6.14
7      6.26
8      8.87
9     11.54
10    18.33
11    15.54
12    17.07
13    23.76
14    32.71
15    51.29
16    60.44
17    71.34
18     1.22
19     4.76
20    10.02
21    15.99
22    42.11
Name: Average Cost Per Person, dtype: float64

In [23]:
df1["Average Cost Per Person"] =  df1["Average Cost Per Person"].apply(cleanse_avg_cost)
df1["Average Cost Per Person"]

0      1.13
1      1.24
2      2.46
3      2.16
4      2.94
5      4.88
6      6.14
7      6.26
8      8.87
9     11.54
10    18.33
11    15.54
12    17.07
13    23.76
14    32.71
15    51.29
16    60.44
17    71.34
18     1.22
19     4.76
20    10.02
21    15.99
22    42.11
Name: Average Cost Per Person, dtype: float64

## Updated Dataframe (Clean Data)

In [26]:
df1.head()

  Census Year  Total Population Census Cost  Average Cost Per Person
0        1790           3929214       44377                     1.13
1        1800           5308483       66109                     1.24
2        1810           7239881      178445                     2.46
3        1820           9633822      208526                     2.16
4        1830          12866020      378545                     2.94

## Requirement #8:
### After all columns are cleansed, save the clenased dataframe to a file named "census_cost_cleansed.csv" using CSV format.

In [46]:
cleanse_df = df1

cleanse_df.to_csv('census_cost_cleansed.csv',index = False, header =True)

## Requirement #9:
### Use Pandas to read the saved cleansed file and explore to make sure it is clean.

In [48]:
df =pd.read_csv('census_cost_cleansed.csv')
df

    Census Year  Total Population  Census Cost  Average Cost Per Person
0          1790           3929214        44377                     1.13
1          1800           5308483        66109                     1.24
2          1810           7239881       178445                     2.46
3          1820           9633822       208526                     2.16
4          1830          12866020       378545                     2.94
5          1840          17069458       833371                     4.88
6          1850          23191876      1423351                     6.14
7          1860          31443321      1969377                     6.26
8          1870          38558371      3421198                     8.87
9          1880          50155783      5790678                    11.54
10         1890          62979766     11547127                    18.33
11         1900          76303387     11854000                    15.54
12         1910          91972266     15968000                    17.07
13         1920         105710620     25117000                    23.76
14         1930         122775046     40156000                    32.71
15         1940         131669275     67527000                    51.29
16         1950         151325798     91462000                    60.44
17         1960         179323175    127934000                    71.34
18         1970         203302031    247653000                     1.22
19         1980         226542199   1078488000                     4.76
20         1990         248718301   2492830000                    10.02
21         2000         281421906   4500000000                    15.99
22         2010         308745538  13000000000                    42.11

In [55]:
df.head()

   Census Year  Total Population  Census Cost  Average Cost Per Person
0         1790           3929214        44377                     1.13
1         1800           5308483        66109                     1.24
2         1810           7239881       178445                     2.46
3         1820           9633822       208526                     2.16
4         1830          12866020       378545                     2.94

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     int64
 1   Total Population         23 non-null     int64
 2   Census Cost              23 non-null     int64
 3   Average Cost Per Person  23 non-null     float64
dtypes: float64(1), int64(3)
memory usage: 864.0 bytes

In [53]:
df.describe()

       Census Year  Total Population   Census Cost  Average Cost Per Person
count      23.0000      2.300000e+01  2.300000e+01                23.000000
mean     1900.0000      1.039211e+08  9.445587e+08                17.921739
std        67.8233      9.622629e+07  2.830037e+09                20.200432
min      1790.0000      3.929214e+06  4.437700e+04                 1.130000
25%      1845.0000      2.013067e+07  1.128361e+06                 3.850000
50%      1900.0000      7.630339e+07  1.185400e+07                10.020000
75%      1955.0000      1.653245e+08  1.096980e+08                21.045000
max      2010.0000      3.087455e+08  1.300000e+10                71.340000

In [54]:
df.shape

(23, 4)

In [57]:
df.isnull()

    Census Year  Total Population  Census Cost  Average Cost Per Person
0         False             False        False                    False
1         False             False        False                    False
2         False             False        False                    False
3         False             False        False                    False
4         False             False        False                    False
5         False             False        False                    False
6         False             False        False                    False
7         False             False        False                    False
8         False             False        False                    False
9         False             False        False                    False
10        False             False        False                    False
11        False             False        False                    False
12        False             False        False                    False
13        False             False        False                    False
14        False             False        False                    False
15        False             False        False                    False
16        False             False        False                    False
17        False             False        False                    False
18        False             False        False                    False
19        False             False        False                    False
20        False             False        False                    False
21        False             False        False                    False
22        False             False        False                    False

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=d7b9ad1a-058d-4099-acdc-888131314832' target="_blank">
<img style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>