In [1]:
import pandas as pd

In [2]:
with open('/content/census_cost.txt', 'tr') as myfile:
  all_lines = myfile.readlines()

print(all_lines)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11\n']

In [3]:
for row in all_lines:
  print(row)

Source: https://www.genealogybranches.com/censuscosts.html

Census Year	Total Population	Census Cost	Average Cost Per Person

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

In [4]:
for row in all_lines[1:]:
  print(row)

Census Year	Total Population	Census Cost	Average Cost Per Person

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

In [5]:
all_lines[1:]

['Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n',
 '1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11\n']

In [6]:
data_list = []

for row in all_lines[1:]:
  data_list.append(row.split("\t"))

data_list

[['Census Year',
  'Total Population',
  'Census Cost',
  'Average Cost Per Person\n'],
 ['1790', '3,929,214', '$44,377', '1.13 cents\n'],
 ['1800', '5,308,483', '$66,109', '1.24 cents\n'],
 ['1810', '7,239,881', '$178,445', '2.46 cents\n'],
 ['1820', '9,633,822', '$208,526', '2.16 cents\n'],
 ['1830', '12,866,020', '$378,545', '2.94 cents\n'],
 ['1840', '17,069,458', '$833,371', '4.88 cents\n'],
 ['1850', '23,191,876', '$1,423,351', '6.14 cents\n'],
 ['1860', '31,443,321', '$1,969,377', '6.26 cents\n'],
 ['1870', '38,558,371', '$3,421,198', '8.87 cents\n'],
 ['1880', '50,155,783', '$5,790,678', '11.54 cents\n'],
 ['1890', '62,979,766', '$11,547,127', '18.33 cents\n'],
 ['1900', '76,303,387', '$11,854,000', '15.54 cents\n'],
 ['1910', '91,972,266', '$15,968,000', '17.07 cents\n'],
 ['1920', '105,710,620', '$25,117,000', '23.76 cents\n'],
 ['1930', '122,775,046', '$40,156,000', '32.71 cents\n'],
 ['1940', '131,669,275', '$67,527,000', '51.29 cents\n'],
 ['1950', '151,325,798', '$91,462,000', '60.44 cents\n'],
 ['1960', '179,323,175', '$127,934,000', '71.34 cents\n'],
 ['1970', '203,302,031', '$247,653,000', '$1.22\n'],
 ['1980', '226,542,199', '$1,078,488,000', '$4.76\n'],
 ['1990', '248,718,301', '$2,492,830,000', '$10.02\n'],
 ['2000', '281,421,906', '$4.5 Billion', '$15.99\n'],
 ['2010*', '308,745,538', '$13 Billion', '$42.11\n']]

In [7]:
df = pd.DataFrame(data_list[1:], columns = data_list[0])
df

   Census Year Total Population     Census Cost Average Cost Per Person\n
0         1790        3,929,214         $44,377              1.13 cents\n
1         1800        5,308,483         $66,109              1.24 cents\n
2         1810        7,239,881        $178,445              2.46 cents\n
3         1820        9,633,822        $208,526              2.16 cents\n
4         1830       12,866,020        $378,545              2.94 cents\n
5         1840       17,069,458        $833,371              4.88 cents\n
6         1850       23,191,876      $1,423,351              6.14 cents\n
7         1860       31,443,321      $1,969,377              6.26 cents\n
8         1870       38,558,371      $3,421,198              8.87 cents\n
9         1880       50,155,783      $5,790,678             11.54 cents\n
10        1890       62,979,766     $11,547,127             18.33 cents\n
11        1900       76,303,387     $11,854,000             15.54 cents\n
12        1910       91,972,266     $15,968,000             17.07 cents\n
13        1920      105,710,620     $25,117,000             23.76 cents\n
14        1930      122,775,046     $40,156,000             32.71 cents\n
15        1940      131,669,275     $67,527,000             51.29 cents\n
16        1950      151,325,798     $91,462,000             60.44 cents\n
17        1960      179,323,175    $127,934,000             71.34 cents\n
18        1970      203,302,031    $247,653,000                   $1.22\n
19        1980      226,542,199  $1,078,488,000                   $4.76\n
20        1990      248,718,301  $2,492,830,000                  $10.02\n
21        2000      281,421,906    $4.5 Billion                  $15.99\n
22       2010*      308,745,538     $13 Billion                  $42.11\n

In [8]:
df = df.rename(columns={'Average Cost Per Person\n':'Average Cost Per Person'})
df

   Census Year Total Population     Census Cost Average Cost Per Person
0         1790        3,929,214         $44,377            1.13 cents\n
1         1800        5,308,483         $66,109            1.24 cents\n
2         1810        7,239,881        $178,445            2.46 cents\n
3         1820        9,633,822        $208,526            2.16 cents\n
4         1830       12,866,020        $378,545            2.94 cents\n
5         1840       17,069,458        $833,371            4.88 cents\n
6         1850       23,191,876      $1,423,351            6.14 cents\n
7         1860       31,443,321      $1,969,377            6.26 cents\n
8         1870       38,558,371      $3,421,198            8.87 cents\n
9         1880       50,155,783      $5,790,678           11.54 cents\n
10        1890       62,979,766     $11,547,127           18.33 cents\n
11        1900       76,303,387     $11,854,000           15.54 cents\n
12        1910       91,972,266     $15,968,000           17.07 cents\n
13        1920      105,710,620     $25,117,000           23.76 cents\n
14        1930      122,775,046     $40,156,000           32.71 cents\n
15        1940      131,669,275     $67,527,000           51.29 cents\n
16        1950      151,325,798     $91,462,000           60.44 cents\n
17        1960      179,323,175    $127,934,000           71.34 cents\n
18        1970      203,302,031    $247,653,000                 $1.22\n
19        1980      226,542,199  $1,078,488,000                 $4.76\n
20        1990      248,718,301  $2,492,830,000                $10.02\n
21        2000      281,421,906    $4.5 Billion                $15.99\n
22       2010*      308,745,538     $13 Billion                $42.11\n

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

In [10]:
census_year_values = []

for element in df['Census Year']:
  element = element.replace('*', '')
  element = (element)
  census_year_values.append(element)
  print(element)

1790
1800
1810
1820
1830
1840
1850
1860
1870
1880
1890
1900
1910
1920
1930
1940
1950
1960
1970
1980
1990
2000
2010

In [11]:
df['Census Year'] = census_year_values
df['Census Year']

0     1790
1     1800
2     1810
3     1820
4     1830
5     1840
6     1850
7     1860
8     1870
9     1880
10    1890
11    1900
12    1910
13    1920
14    1930
15    1940
16    1950
17    1960
18    1970
19    1980
20    1990
21    2000
22    2010
Name: Census Year, dtype: object

In [12]:
pop_values = []

for element in df['Total Population']:
  element = element.replace("$", "").replace(",","")
  element = (element)
  element = int(element)
  pop_values.append(element)
  print(element)

3929214
5308483
7239881
9633822
12866020
17069458
23191876
31443321
38558371
50155783
62979766
76303387
91972266
105710620
122775046
131669275
151325798
179323175
203302031
226542199
248718301
281421906
308745538

In [13]:
df['Total Population'] = pop_values
df['Total Population']

0       3929214
1       5308483
2       7239881
3       9633822
4      12866020
5      17069458
6      23191876
7      31443321
8      38558371
9      50155783
10     62979766
11     76303387
12     91972266
13    105710620
14    122775046
15    131669275
16    151325798
17    179323175
18    203302031
19    226542199
20    248718301
21    281421906
22    308745538
Name: Total Population, dtype: int64

In [14]:
cost_values = []

for element in df['Census Cost']:
    if "," in element:
      element = element.replace("$", "").replace(",","")
      element = (element)
      element = int(element)
      cost_values.append(element)
      print(element)
    elif "Billion" in element:
      element = element.replace("$", "")
      element = element.replace("Billion", "")
      element = float(element) 
      element = int(element * 1000000000)
      cost_values.append(element)
      print(element)

44377
66109
178445
208526
378545
833371
1423351
1969377
3421198
5790678
11547127
11854000
15968000
25117000
40156000
67527000
91462000
127934000
247653000
1078488000
2492830000
4500000000
13000000000

In [15]:
df['Census Cost'] = cost_values
df['Census Cost']

0           44377
1           66109
2          178445
3          208526
4          378545
5          833371
6         1423351
7         1969377
8         3421198
9         5790678
10       11547127
11       11854000
12       15968000
13       25117000
14       40156000
15       67527000
16       91462000
17      127934000
18      247653000
19     1078488000
20     2492830000
21     4500000000
22    13000000000
Name: Census Cost, dtype: int64

In [16]:
cost_per_person_values = []

for element in df['Average Cost Per Person']:
    element = element.replace("$", "").replace("cents\n","").replace("\n","").replace("$","")
    element = (element)
    element = float(element)
    cost_per_person_values.append(element)
    print(element)

1.13
1.24
2.46
2.16
2.94
4.88
6.14
6.26
8.87
11.54
18.33
15.54
17.07
23.76
32.71
51.29
60.44
71.34
1.22
4.76
10.02
15.99
42.11

In [17]:
df['Average Cost Per Person'] = cost_per_person_values

In [18]:
df

   Census Year  Total Population  Census Cost  Average Cost Per Person
0         1790           3929214        44377                     1.13
1         1800           5308483        66109                     1.24
2         1810           7239881       178445                     2.46
3         1820           9633822       208526                     2.16
4         1830          12866020       378545                     2.94
5         1840          17069458       833371                     4.88
6         1850          23191876      1423351                     6.14
7         1860          31443321      1969377                     6.26
8         1870          38558371      3421198                     8.87
9         1880          50155783      5790678                    11.54
10        1890          62979766     11547127                    18.33
11        1900          76303387     11854000                    15.54
12        1910          91972266     15968000                    17.07
13        1920         105710620     25117000                    23.76
14        1930         122775046     40156000                    32.71
15        1940         131669275     67527000                    51.29
16        1950         151325798     91462000                    60.44
17        1960         179323175    127934000                    71.34
18        1970         203302031    247653000                     1.22
19        1980         226542199   1078488000                     4.76
20        1990         248718301   2492830000                    10.02
21        2000         281421906   4500000000                    15.99
22        2010         308745538  13000000000                    42.11

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     int64
 2   Census Cost              23 non-null     int64
 3   Average Cost Per Person  23 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 864.0+ bytes

In [20]:
df.to_csv('census_cost.csv')